<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
  name: "MaterialSymbolsLightBoxOutline",
});
import { ref } from "vue";
const drawer = ref(false);
import OnsiteDelivery from "@/components/delivery_components/OnsiteDelivery.vue";
</script>

<template>
  <v-container>
    <OnsiteDelivery></OnsiteDelivery>
  </v-container>
</template>
