<script setup lang="ts">
import { defineComponent } from "vue";
import { ref } from "vue";
const drawer = ref(false);
import OrderUpdate from "@/components/delivery_components/OrderUpdate.vue";
</script>

<template>
  <v-container>
    <OrderUpdate></OrderUpdate>
  </v-container>
</template>
