<script setup lang="ts">
import CheckPurchaseComponent from "@/components/buying_component/CheckPurchaseComponent.vue";
import CompletePurchaseComponent from "@/components/buying_component/CompletePurchaseComponent.vue";
import PurchaseComponent from "@/components/buying_component/PurchaseComponent.vue";
import ShippingComponent from "@/components/buying_component/ShippingComponent.vue";
import { useReceiptStore } from "@/stores/receiptStore";
import { ref, watch } from "vue";
const currentStep = ref(1);
const receiptStore = useReceiptStore();

const handleStepChange = (newStep: number) => {
  switch (newStep) {
    case 1:
      // Method for step 1
      console.log("Step 1");
      break;
    case 2:
      // Method for step 2
      console.log("Step 2");
      break;
    case 3:
      // Method for step 3
      console.log("Step 3");
      break;
    case 4:
      receiptStore.createNewOrder(
        receiptStore.receipt,
        receiptStore.imageFile,
        receiptStore.receipt_detail
      );
      console.log(receiptStore.receipt);
      console.log("Step 4");
      break;
    default:
      break;
  }
};

// Watch for changes in the current step
watch(currentStep, (newVal, oldVal) => {
  console.log(`Step changed from ${oldVal} to ${newVal}`);
  // Trigger the appropriate method based on the new step
  handleStepChange(newVal);
});
</script>

<template>
  <v-container>
    <v-btn
      variant="tonal"
      icon="mdi-chevron-left-circle"
      to="/viewcart"
      class="mb-3"
    ></v-btn>
    <v-stepper
      alt-labels
      prev-text="ย้อนกลับ"
      next-text="ถัดไป"
      :items="[
        'ที่อยู่จัดส่ง',
        'เลือกวิธีการชำระเงิน',
        'ตรวจสอบการชำระเงิน',
        'ชำระเงินสำเร็จ',
      ]"
      bg-color="#12372A"
      v-model="currentStep"
    >
      <template v-slot:item.1>
        <ShippingComponent></ShippingComponent>
      </template>

      <template v-slot:item.2>
        <PurchaseComponent></PurchaseComponent>
      </template>
      <template v-slot:item.3>
        <CheckPurchaseComponent></CheckPurchaseComponent>
      </template>
      <template v-slot:item.4>
        <CompletePurchaseComponent></CompletePurchaseComponent>
      </template>
    </v-stepper>
  </v-container>
</template>
