<script setup lang="ts">
import { useCartStore } from "@/stores/cartStore";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user-cusstore";
import { onMounted } from "vue";
import { useReceiptStore } from "@/stores/receiptStore";
import LoadingDialog from "../DialogView/LoadingDialog.vue";
const userstore = useUserStore();
const authStore = useAuthStore();
const cartStore = useCartStore();
const receiptStore = useReceiptStore();
const backendURL = (import.meta as any).env.VITE_BACKEND_URL;

onMounted(async () => {
  var user = await authStore.getUser();
  await cartStore.getAllCartItemByCusID(userstore.user.customerId!);
});
</script>

<template>
  <LoadingDialog></LoadingDialog>
  <v-container>
    <v-row>
      <v-col cols="1">
        <v-btn variant="tonal" icon="mdi-chevron-left-circle" to="/"></v-btn>
      </v-col>
      <v-col style="margin-right: 85px">
        <p class="title">ตะกร้า</p>
      </v-col>
    </v-row>
    <v-row>
      <p class="sub-title2">ตะกร้าของฉัน</p>
    </v-row>
    <v-row v-if="cartStore.cartProducts.length > 0">
      <v-col>
        <v-col v-for="item in cartStore.cartProducts">
          <v-card width="650" height="250" elevation="3">
            <v-row>
              <v-col cols="4">
                <img
                  :src="`${backendURL}/products/${item.id}/image`"
                  width="100%"
                  height="250px"
                  class="elevation-10"
                />
              </v-col>
              <v-col>
                <v-row>
                  <v-list>
                    <v-list-item>{{ item.name }}</v-list-item>
                    <v-list-item>{{ item.price }} ฿</v-list-item>
                  </v-list>
                </v-row>
                <v-row class="mt-15">
                  <v-btn
                    icon="mdi-minus"
                    @click="cartStore.decreaseItemQty(item.id, item.cartitemId)"
                    size="small"
                    class="mt-4 mx-5"
                  ></v-btn>
                  <v-col cols="2">
                    <v-text-field
                      variant="outlined"
                      type="number"
                      v-model="item.cartQty"
                      hide-spin-buttons
                      readonly
                    ></v-text-field>
                  </v-col>
                  <v-btn
                    icon="mdi-plus"
                    @click="cartStore.increaseItemQty(item.id, item.cartitemId)"
                    size="small"
                    class="mt-4 mx-5"
                  ></v-btn>
                  <v-col class="d-flex justify-center mt-4">
                    <p>{{ item.cartQty * item.price }} ฿</p>
                  </v-col>
                  <v-col class="d-flex justify-end mr-10 mt-2">
                    <v-btn
                      icon="mdi-delete"
                      size="small"
                      @click="cartStore.deleteProductById(item.cartitemId)"
                    ></v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-col>

      <v-col>
        <v-col>
          <v-card class="mx-auto card-border" width="400" height="480">
            <v-row>
              <v-col class="sub-title4 ml-10 mt-6">ราคารวม</v-col>
              <v-col class="sub-title5 ml-10 mt-6"
                >{{ cartStore.totalPrice }} ฿</v-col
              >
            </v-row>
            <v-row>
              <v-col class="sub-title4 ml-10">ค่าจัดส่ง</v-col>
              <v-col class="sub-title5 ml-10">30.00 ฿</v-col>
            </v-row>
            <v-row>
              <v-col cols="7" class="ml-10 mt-3 sub-title4">
                <v-text-field
                  label="ใช้โค้ดส่วนลด"
                  class="text-color text-font2"
                ></v-text-field>
              </v-col>
              <v-col class="mt-5 sub-title4">
                <v-btn color="black" rounded="lg" type="submit" text="ยืนยัน">
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="sub-title4 ml-10">ส่วนลด</v-col>
              <v-col class="sub-title5 ml-10">00.00 ฿</v-col>``
            </v-row>
            <v-row>
              <v-divider></v-divider>
            </v-row>
            <v-row>
              <v-col class="sub-title4 ml-10 mt-3">ราคาสุทธิ</v-col>
              <v-col class="sub-title5 ml-10 mt-3"
                >{{ cartStore.totalPrice + 30 }} ฿</v-col
              >
            </v-row>
            <v-row>
              <v-col class="mt-3 sub-title4" align="center">
                <v-btn
                  color="black"
                  rounded="lg"
                  type="submit"
                  text="ยืนยันคำสั่งซื้อ"
                  v-ripple
                  to="/viewbuying"
                  style="width: 200px; height: 55px"
                  @click="receiptStore.addReceipt(cartStore.totalPrice)"
                >
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-col>
    </v-row>
    <v-row v-else class="justify-center mt-15">
      <p class="sub-title3">ไม่มีสินค้าในตะกร้า</p>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 40px;
  text-align: center;
}

.sub-title2 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 24px;
}

.sub-title3 {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
}

.card-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}
</style>
