<script setup lang="ts">
import { onMounted, ref, computed } from "vue";
import { useCartStore } from "@/stores/cartStore";
import { useProductStore } from "@/stores/productStore";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user-cusstore";
const userstore = useUserStore();
const authStore = useAuthStore();
const backendURL = (import.meta as any).env.VITE_BACKEND_URL;
const productStore = useProductStore();
const cartStore = useCartStore();
var userid = ref();
const customerId = ref(0);
const onComponentMounted = async () => {
  var user = await authStore.getUser();
  getUserId(user);
  await userstore.getOneUser(user.id);
  customerId.value = userstore.user.customerId!;
};

onMounted(onComponentMounted);
let qty = ref(1);

function getUserId(user: any) {
  userid = user.id;
}

function increaseqty() {
  qty.value += 1;
}

function decreaseqty() {
  if (qty.value > 1) {
    qty.value -= 1;
  }
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="1" class="mr-10">
        <v-btn
          icon="mdi-chevron-left-circle"
          to="/"
          variant="tonal"
          class="mt-5"
        ></v-btn>
      </v-col>
      <v-col>
        <v-sheet class="sheet-border pa-5">
          <v-row class="mb-5">
            <v-col cols="5" class="d-flex justify-center">
              <img
                :src="`${backendURL}/products/${productStore.product?.id}/image`"
                width="300"
                class="elevation-5"
              />
            </v-col>
            <v-col class="border border-primary row-border pl-15 pt-10">
              <v-row>
                <v-list>
                  <v-list-item
                    >ชื่อเรื่อง: {{ productStore.product?.name }}</v-list-item
                  >
                  <v-list-item
                    >ผู้เขียน: {{ productStore.product?.author }}</v-list-item
                  >
                  <v-list-item
                    >หมวดหมู่:
                    {{ productStore.product?.category.name }}</v-list-item
                  >
                  <v-list-item
                    >ราคา: {{ productStore.product?.price }} บาท</v-list-item
                  >
                </v-list>
              </v-row>
              <v-row class="ml-1">
                <v-btn
                  icon="mdi-minus"
                  class="mt-3 mr-5"
                  @click="decreaseqty"
                ></v-btn>
                <v-col cols="3">
                  <v-text-field
                    variant="outlined"
                    type="number"
                    hide-spin-buttons
                    readonly
                    v-model="qty"
                  ></v-text-field>
                </v-col>
                <v-btn
                  icon="mdi-plus"
                  class="mt-3 ml-5"
                  @click="increaseqty"
                ></v-btn>
              </v-row>
              <v-row class="ml-1">
                <v-btn
                  prepend-icon="mdi-cart"
                  @click="
                    cartStore.addProtuctToCart(
                      productStore.product?.id,
                      qty,
                      userstore.user.customerId!
                    )
                  "
                  color="#436850"
                  >หยิบเข้าตะกร้า</v-btn
                >
              </v-row>
            </v-col>
          </v-row>
          <v-row class="border border-primary row-border">
            <v-list>
              <v-list-item>
                <v-list-item-title>เนื้อหาโดยสังเขป</v-list-item-title>
                <v-divider></v-divider>
                <p class="ma-3">{{ productStore.product?.details }}</p>
              </v-list-item>
            </v-list>
          </v-row>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.sheet-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

.row-border {
  border-radius: 15px;
}
</style>
