<script setup lang="ts">
import OnlineMenu from "@/components/menu/OnlineMenu.vue";
import ProductList from "@/components/online_main_component/ProductList.vue";
import Adversite from "@/components/online_main_component/Advertise.vue";
import { useAuthStore } from "@/stores/auth";
import { onMounted, ref } from "vue";
import MessageDialog from "../DialogView/MessageDialog.vue";
import LoadingDialog from "../DialogView/LoadingDialog.vue";

const authStore = useAuthStore();
</script>

<template>
  <LoadingDialog></LoadingDialog>
  <v-container>
    <v-row class="mt-3">
      <Adversite></Adversite>
    </v-row>
    <v-row>
      <ProductList />
    </v-row>
  </v-container>
</template>
