<script setup lang="ts">
import OnsiteMenu from "@/components/menu/OnsiteMenu.vue";
</script>

<template>
  <v-layout>
    <v-main>
      <v-container> </v-container>
    </v-main>
  </v-layout>
</template>
