<script setup lang="ts">
import { useCartStore } from "@/stores/cartStore";
const cartStore = useCartStore();
</script>

<template>
  <v-row class="justify-center mb-1 mt-5">
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn
          v-bind="props"
          class="menu"
          height="60"
          append-icon="mdi-chevron-down"
          variant="text"
        >
          สินค้าและบริการ
        </v-btn>
      </template>
      <v-list>
        <v-list-item link title="หนังสือทั้งหมด"></v-list-item>
        <v-divider></v-divider>
        <v-list-item link title="หนังสือทั่วไป"></v-list-item>
        <v-list-item link title="หนังสือเด็ก"></v-list-item>
        <v-list-item link title="หนังสือเรียน"></v-list-item>
        <v-list-item link title="นิยายทั้งหมด"></v-list-item>
        <v-list-item link title="การ์ตูนทั้งหมด"></v-list-item>
        <v-divider></v-divider>
        <v-menu :close-on-back="false" location="end">
          <template v-slot:activator="{ props }">
            <v-list-item
              v-bind="props"
              append-icon="mdi-chevron-right"
              title="หมวดหมู่ทั้งหมด"
            ></v-list-item>
          </template>
          <v-card min-width="250" max-height="345">
            <v-list>
              <v-list-item link title="นิยาย"></v-list-item>
              <v-list-item link title="พัฒนาตนเอง"></v-list-item>
              <v-list-item link title="ชีวประวัติ"></v-list-item>
              <v-list-item link title="ประวัติศาสตร์"></v-list-item>
              <v-list-item link title="วิทยาศาสตร์"></v-list-item>
              <v-list-item link title="การศึกษา"></v-list-item>
              <v-list-item link title="สุขภาพ"></v-list-item>
              <v-list-item link title="การท่องเที่ยว"></v-list-item>
              <v-list-item link title="อาหาร"></v-list-item>
              <v-list-item link title="งานอดิเรก"></v-list-item>
              <v-list-item link title="ธุรกิจ"></v-list-item>
              <v-list-item link title="ปรัชญา"></v-list-item>
              <v-list-item link title="อื่นๆ"></v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </v-list>
    </v-menu>
  </v-row>

  <v-row class="justify-center">
    <v-tabs slider-color="green" class="tab-font">
      <v-tab value="home">หน้าแรก</v-tab>
      <v-tab value="bestsell">ขายดี</v-tab>
      <v-tab value="news">มาใหม่</v-tab>
      <v-tab value="hit">ฮิตขึ้นหิ้ง</v-tab>
      <v-tab value="suggest">แนะนำ</v-tab>
    </v-tabs>
  </v-row>
</template>

<style scoped>
.menu {
  font-family: "Noto Sans Thai";
  font-size: 34px;
}

.tab-font {
  font-family: "Noto Sans Thai";
}
</style>
