<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
</script>

<template>
  <v-navigation-drawer>
      <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="ขายสินค้า"
        value="ขายสินค้า"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cube-send"
        title="การจัดส่งสินค้า"
        value="การจัดส่งสินค้า"
        to=/deliverManage
      ></v-list-item>
      <v-menu :close-on-back="false" location="end">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            prepend-icon="mdi-package-variant"
            title="การจัดการสินค้า"
            value="การจัดการสินค้า"
          ></v-list-item>
        </template>
        <v-card min-width="250">
          <v-list>
            <v-list-item
              prepend-icon="mdi-package-variant-closed"
              title="จัดการสินค้า"
              value="จัดการสินค้า"
            ></v-list-item>
            <v-list-item
              prepend-icon="mdi-package-variant-closed-check"
              title="เช็คสินค้า"
              value="เช็คสินค้า"
            ></v-list-item>
            <v-list-item
              prepend-icon="mdi-package-variant-closed-plus"
              title="ซื้อสินค้าเข้าคลัง"
              value="ซื้อสินค้าเข้าคลัง"
            ></v-list-item>
            <v-list-item
              prepend-icon="mdi-shape-plus-outline"
              title="จัดการหมวดหมู่สินค้า"
              value="จัดการหมวดหมู่สินค้า"
            ></v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <v-list-item
        prepend-icon="mdi-account-multiple"
        title="การจัดการลูกค้า"
        value="การจัดการลูกค้า"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-table-clock"
        title="เข้างาน/ออกงาน"
        value="เข้างาน/ออกงาน"
      ></v-list-item>
      <v-menu :close-on-back="false" location="end">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            prepend-icon="mdi-account-details"
            title="การจัดการผู้ใช้งาน"
            value="การจัดการผู้ใช้งาน"
          ></v-list-item>
        </template>
        <v-card min-width="250">
          <v-list>
            <v-list-item
              prepend-icon="mdi-account-circle"
              title="จัดการผู้ใช้งานระบบ"
              value="จัดการผู้ใช้งานระบบ"
            ></v-list-item>
            <v-list-item
              prepend-icon="mdi-account-multiple-outline"
              title="จัดการพนักงาน"
              value="จัดการพนักงาน"
            ></v-list-item>
            <v-list-item
              prepend-icon="mdi-account-cash-outline"
              title="จ่ายเงินเดือน"
              value="จ่ายเงินเดือน"
            ></v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <v-list-item
        prepend-icon="mdi-logout-variant"
        title="ออกจากระบบ"
        value="ออกจากระบบ"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

