<script setup lang="ts">
const imageUrls = [
  "src/assets/images/1.png",
  "src/assets/images/2.png",
  "src/assets/images/3.png",
];
const carouselItems = imageUrls.map((url) => ({ src: url }));
</script>

<template>
  <v-carousel cycle hide-delimiter-background :show-arrows="false" height="200">
    <v-carousel-item v-for="(slide, index) in carouselItems" :key="index">
      <v-sheet height="100%">
        <div class="d-flex fill-height justify-center align-center">
          <v-img :src="slide.src"></v-img>
        </div>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
