<script setup lang="ts">
import { defineProps, onMounted, ref } from "vue";
import { useCartStore } from "@/stores/cartStore";
import { useProductStore } from "@/stores/productStore";
import { useAuthStore } from "@/stores/auth";
import { useUserStore } from "@/stores/user-cusstore";
const userstore = useUserStore();
const authStore = useAuthStore();
const cartStore = useCartStore();
const productStore = useProductStore();
const backendURL = (import.meta as any).env.VITE_BACKEND_URL;
const userid = ref();
const onComponentMounted = async () => {
  await productStore.getProducts();
  var user = await authStore.getUser();
  if (user !== null) {
    await userstore.getOneUser(user.id);
    await cartStore.getAllCartItemByCusID(userstore.user.customerId!);
    userid.value = user.id;
  }
  cartStore.getAllCartItemByCusID(userstore.user.customerId!);
  console.log(productStore.products); // Log the products to the console
};

onMounted(onComponentMounted);

const handleCardClick = (index: number) => {
  console.log(`Clicked on card ${index}`);
};

const addProduct = (index: number) => {
  console.log(`Add Product ${index} to cart`);
};
</script>

<template>
  <v-row class="mb-5 mt-5">
    <v-col
      v-for="(item, index) in productStore.showProduct"
      :key="index"
      cols="12"
      lg="3"
    >
      <v-card height="360px" width="250px">
        <v-row>
          <v-btn
            to="/viewproduct"
            height="250px"
            width="100%"
            variant="text"
            @click="productStore.getOneProducts(item.id)"
          >
            <img
              :src="`${backendURL}/products/${item.id}/image`"
              style="height: 250px"
            />
          </v-btn>
        </v-row>

        <v-row align="start" no-gutters style="height: 35px; margin-top: 7px">
          <v-card-text>
            {{ item.name }}
          </v-card-text>
        </v-row>

        <v-row>
          <v-col class="mt-1">
            <v-card-text> {{ item.price }} บาท </v-card-text>
          </v-col>
          <v-col class="d-flex justify-end">
            <v-card-actions>
              <v-btn
                icon="mdi-cart"
                @click="
                  cartStore.addProtuctToCart(
                    item.id,
                    1,
                    userstore.user.customerId!
                  )
                "
              ></v-btn>
            </v-card-actions>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<style scoped>
.custom-card-text {
  margin: 10px;
}
</style>
