<script setup lang="ts">
import { computed, defineComponent, onMounted } from "vue";
import { useReceiptStore } from "@/stores/receiptStore";
import { useaddressStore } from "@/stores/addressStore";
const addressStore = useaddressStore();
const receiptStore = useReceiptStore();
defineComponent({
  name: "MaterialSymbolsLightBoxOutline",
});
import { ref } from "vue";
const drawer = ref(false);

onMounted(async () => {
  await receiptStore.getallReceipts();
  // receiptStore.allReceipts()
});
const allReceipts = computed(() => receiptStore.allReceipts);
const sortedReceipts = computed(() => {
  return allReceipts.value.slice().sort((a, b) => b.id - a.id);
});

function formatDate(dateTime: any): string {
  const dateStr = typeof dateTime === "string" ? dateTime : String(dateTime);
  const date = new Date(dateStr);
  return date.toLocaleDateString(); // Adjust format as needed
}
// Function to format time
function formatTime(dateTime: any): string {
  const dateStr = typeof dateTime === "string" ? dateTime : String(dateTime);
  const date = new Date(dateStr);
  return date.toLocaleTimeString(); // Adjust format as needed
}
</script>

<template>
  <v-card
    class="pa-2 mx-auto mt-3"
    height="550"
    variant="outlined"
    style="overflow-y: auto"
  >
    <v-row class="mt-1">
      <v-text-field
        variant="outlined"
        rounded
        clearable
        class="flex-full-width"
        density="comfortable"
        clear-icon="mdi-close-circle"
        style="padding-left: 20px; margin-right: 800px"
        ><v-icon>mdi-magnify</v-icon>
      </v-text-field></v-row
    >
    <v-table>
      <thead style="background-color: #adb3b7; color: black">
        <tr>
          <th class="text-center font-weight-black">หมายเลขคำสั่งซื้อ</th>
          <th class="text-center font-weight-black">ผู้รับสินค้า</th>
          <th class="text-center font-weight-black">วันที่สั่ง</th>
          <th class="text-center font-weight-black">เวลาที่สั่ง</th>
          <th class="text-center font-weight-black">สถานะ</th>
          <th class="text-center font-weight-black">จัดการคำสั่งซื้อ</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <!-- Loop through allReceipts and display each receipt -->
        <tr v-for="receipt in sortedReceipts" :key="receipt.id">
          <td class="text-center">{{ receipt.id }}</td>
          <td class="text-center">{{ receipt.customerName }}</td>
          <td class="text-center">{{ formatDate(receipt.dateTime) }}</td>
          <td class="text-center">{{ formatTime(receipt.dateTime) }}</td>
          <td class="text-center">{{ receipt.status }}</td>
          <td>
            <v-btn
              icon
              variant="outlined"
              @Click="receiptStore.getOneReceipts(receipt.id)"
              to="/orderupdate"
            >
              <v-icon size="40">material-symbols-light--box-outline</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
    <div class="text-center"></div>
  </v-card>
</template>
<style>
.material-symbols-light--box-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 7.808v10.577q0 .269.173.442t.442.173h12.77q.269 0 .442-.173t.173-.442V7.808h-4v6.788l-3-1.5l-3 1.5V7.808zM5.615 20q-.67 0-1.143-.472Q4 19.056 4 18.385V7.487q0-.293.093-.55q.094-.258.28-.475L5.931 4.59q.217-.292.543-.441Q6.8 4 7.174 4h9.614q.374 0 .71.149q.335.15.552.441l1.577 1.91q.186.217.28.485q.093.267.093.56v10.84q0 .67-.472 1.143q-.472.472-1.143.472zM5.381 6.808H18.6l-1.33-1.596q-.097-.097-.222-.154Q16.923 5 16.788 5H7.192q-.134 0-.26.058q-.124.057-.22.154zm4.619 1v5.154l2-1l2 1V7.808zm-5 0h14z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.title25 {
  font-family: "Franklin Gothic Medium";
  font-size: 25px;
  text-align: center;
}
</style>
