<script setup lang="ts">
import { computed, defineComponent, onMounted, reactive, watch } from "vue";

const router = useRouter();
defineComponent({
  name: "MaterialSymbolsLightBoxOutline",
});
import { ref } from "vue";
const drawer = ref(false);
const dialog = ref(false);

import { useRouter } from "vue-router";

import { useReceiptStore } from "@/stores/receiptStore";
const backendURL = (import.meta as any).env.VITE_BACKEND_URL;

const receiptStore = useReceiptStore();

onMounted(async () => {});

function formatDate(dateTime: any): string {
  const dateStr = typeof dateTime === "string" ? dateTime : String(dateTime);
  const date = new Date(dateStr);
  return date.toLocaleDateString(); // Adjust format as needed
}

function formatTime(dateTime: any): string {
  const dateStr = typeof dateTime === "string" ? dateTime : String(dateTime);
  const date = new Date(dateStr);
  return date.toLocaleTimeString(); // Adjust format as needed
}

const person = reactive({
  orderer: "",
  orderDate: new Date(),
  time: new Date(),
  payment: "",
  orderStatus: "",
});


const msg = reactive({
  orderer: "",
  orderDate: "",
  time: "",
  payment: "",
  orderStatus: "",
});

const checkOrderer = function (orderer: string) {
  if (orderer.trim().length == 0) {
    msg.orderer = "กรุณากรอกชื่อผู้สั่ง";
    return false;
  }

  if (!/^[a-zA-Zก-๏\s]+$/.test(orderer)) {
    msg.orderer = "ชื่อต้องไม่มีอักษรพิเศษ";
    return false;
  }
  msg.orderer = "";
  return true;
};

const checkOrderDate = function (orderDate: Date) {
  // ตรวจสอบว่ามีการกรอก OrderDate หรือไม่
  if (!orderDate) {
    msg.orderDate = "กรุณากรอกวันที่";
    return false;
  }

  // แปลง OrderDate ให้เป็น string ก่อนที่จะทำการตรวจสอบด้วย Regular Expression
  const OrderDateString = orderDate.toLocaleTimeString(); // หรือใช้วิธีแปลงเป็น string ตามที่เหมาะสมกับโค้ดของคุณ

  // ตรวจสอบรูปแบบเวลา
  if (!/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/.test(OrderDateString)) {
    msg.orderDate = "รูปแบบเวลาไม่ถูกต้อง (HH:MM)";
    return false;
  }

  msg.orderDate = "";
  return true;
};

const checkTime = function (time: Date) {
  // ตรวจสอบว่ามีการกรอกเวลาหรือไม่
  if (!time) {
    msg.time = "กรุณากรอกเวลา";
    return false;
  }

  // แปลง Time ให้เป็น string ก่อนที่จะทำการตรวจสอบด้วย Regular Expression
  const timeString = time.toLocaleTimeString(); // หรือใช้วิธีแปลงเป็น string ตามที่เหมาะสมกับโค้ดของคุณ

  // ตรวจสอบรูปแบบเวลา
  if (!/^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/.test(timeString)) {
    msg.time = "รูปแบบเวลาไม่ถูกต้อง (HH:MM)";
    return false;
  }

  msg.time = "";
  return true;
};

const checkPayment = function (payment: string) {
  // ตรวจสอบว่ามีการกรอก payment หรือไม่
  if (!payment.trim()) {
    msg.payment = "กรุณากรอก payment";
    return false;
  }

  msg.payment = "";
  return true;
};

const checkOrderStatus = function (orderStatus: string) {
  // ตรวจสอบว่ามีการเลือก orderStatus หรือไม่
  if (!orderStatus) {
    msg.orderStatus = "กรุณาเลือกสถานะคำสั่งซื้อ";
    return false;
  }

  msg.orderStatus = "";
  return true;
};

watch(
  () => person.orderer,
  (orderer) => {
    checkOrderer(orderer);
  }
);
watch(
  () => person.orderDate,
  (orderDate) => {
    checkOrderDate(orderDate);
  }
);
watch(
  () => person.time,
  (time) => {
    checkTime(time);
  }
);
watch(
  () => person.payment,
  (payment) => {
    checkPayment(payment);
  }
);

watch(
  () => person.orderStatus,
  (orderStatus) => {
    checkOrderStatus(orderStatus);
  }
);
function doSubmit() {
  if (
    checkOrderer(person.orderer) &&
    checkOrderDate(person.orderDate) &&
    checkPayment(person.payment) &&
    checkOrderStatus(person.orderStatus)
  ) {
    console.log(person);
    router.push("/orderupdate");
  }
}
</script>
<template>
  <v-card height="auto" variant="outlined">
    <div class="text-h6" style="background-color: #adb3b7; color: black">
      จัดการคำสั่งซื้อ
    </div>
    <v-divider class="border-opacity-100"></v-divider>
    <br />
    <v-row>
      <v-col class="mt-4 ma-2"
        >หมายเลขคำสั่งซื้อ:
        <span class="mt-4 ma-2">{{ receiptStore.oneReceipt.id }}</span></v-col
      >
      <v-col class="mt-4">ผู้สั่ง:<v-row></v-row></v-col>
      <v-col
        ><v-text-field readonly variant="outlined" v-model="person.orderer">{{
          receiptStore.oneReceipt.customerName
        }}</v-text-field>
      </v-col>
      <v-col class="mt-4">วันที่สั่งซื้อ:</v-col>
      <v-col
        ><v-text-field readonly variant="outlined" class="mr-4">{{
          formatDate(receiptStore.oneReceipt.dateTime)
        }}</v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="mt-4 ma-2">เวลา:</v-col>
      <v-col
        ><v-text-field readonly variant="outlined">{{
          formatTime(receiptStore.oneReceipt.dateTime)
        }}</v-text-field>
      </v-col>
      <v-col class="mt-4">หลักฐานการชำระ:</v-col>
      <v-col
        ><v-btn
          color="grey"
          variant="outlined"
          v-model="person.payment"
          style="min-width: 93%"
          height="50"
          class="mr-4"
          @click="dialog = true"
          >แสดงหลักฐาน</v-btn
        >
        <span class="error">{{ msg.payment }}</span>
      </v-col>
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col class="mt-4 ma-2">สถานะคำสั่งซื้อ:</v-col>
      <v-col
        >
        <!-- <v-select          
          value="ชำระเงินแล้ว"
          :items="['ยกเลิกคำสั่งซื้อ', 'กำลังจัดส่ง', 'จัดส่งแล้ว']"
          variant="outlined"
        ></v-select> -->

        <v-select          
      v-model="receiptStore.oneReceipt.status"
      :items="['ยกเลิกคำสั่งซื้อ', 'กำลังจัดส่ง', 'จัดส่งแล้ว']"
      variant="outlined"
    ></v-select>
      </v-col>
      <v-col></v-col>
      <v-col></v-col>
    </v-row>

    <v-table class="pa-2 mx-auto">
      <thead style="background-color: #adb3b7; color: black">
        <tr>
          <th class="text-center font-weight-black">รหัสสินค้า</th>
          <th class="text-center font-weight-black">รูป</th>
          <th class="text-center font-weight-black">ชื่อ</th>
          <th class="text-center font-weight-black">ราคา</th>
          <th class="text-center font-weight-black">จำนวน</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <!-- Use v-for directive to iterate over receiptDetail array -->
        <tr
          v-for="(item, index) in receiptStore.oneReceipt.receiptDetail"
          :key="index"
        >
          <td>{{ item.productId }}</td>

          <td>
            <img
              :src="`${backendURL}/products/${item.productId}/image`"
              style="height: 150px"
            />
          </td>

          <!-- Assuming productId is the product ID -->
          <td>{{ item.name }}</td>
          <!-- Display product name -->
          <td>{{ item.price }}</td>
          <!-- Display product price -->
          <td>{{ item.amount }}</td>
          <!-- Display product amount -->
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
      <br />

      <br />
    </v-table>
    <v-col class="d-flex justify-end"
      ><v-btn color="grey" @click="$router.push('/deliverManage')">ยกเลิก</v-btn
      ><v-btn
        color="grey"
        class="button ml-5"
        @Click="receiptStore.updateReceiptStatus(receiptStore.oneReceipt.id,receiptStore.oneReceipt.status)"
        >อัปเดทสถานะ</v-btn
      >
    </v-col>
  </v-card>

  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title class="text-center">
        <p class="card_title1">หลักฐานการชำระค่าสินค้า</p>
       
      </v-card-title>
      <v-card-text class="text-center">
        <img :src="`${backendURL}/receipts/${receiptStore.oneReceipt.id}/image`" style="max-width: 300px;" />


      </v-card-text>
      <v-row justify="center" class="text-center mx-15 mb-2">
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="dialog = false">
            ปิด</v-btn>
        </v-col>
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="dialog = false" v-ripple>
            ตกลง</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>
<style>
.material-symbols-light--box-outline {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 7.808v10.577q0 .269.173.442t.442.173h12.77q.269 0 .442-.173t.173-.442V7.808h-4v6.788l-3-1.5l-3 1.5V7.808zM5.615 20q-.67 0-1.143-.472Q4 19.056 4 18.385V7.487q0-.293.093-.55q.094-.258.28-.475L5.931 4.59q.217-.292.543-.441Q6.8 4 7.174 4h9.614q.374 0 .71.149q.335.15.552.441l1.577 1.91q.186.217.28.485q.093.267.093.56v10.84q0 .67-.472 1.143q-.472.472-1.143.472zM5.381 6.808H18.6l-1.33-1.596q-.097-.097-.222-.154Q16.923 5 16.788 5H7.192q-.134 0-.26.058q-.124.057-.22.154zm4.619 1v5.154l2-1l2 1V7.808zm-5 0h14z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.title25 {
  font-family: "Franklin Gothic Medium";
  font-size: 25px;
  text-align: center;
}
.error {
  color: crimson;
  font-size: smaller;
  display: block;
}
</style>
