<template>
  <v-layout>
    <v-main>
      <v-container style="border: 1px solid #c0c0c0; border-radius: 10px">
        <v-row>
          <v-col cols="2">
            <v-btn
              large
              style="height: 50px"
              elevation="0"
              :ripple="false"
              to="/col"
            >
              ประวัติการสั่งซื้อ
            </v-btn>
          </v-col>
          <v-col cols="2">
            <v-btn
              large
              style="height: 50px"
              elevation="0"
              :ripple="false"
              to="/trackorder"
            >
              ติดตามคำสั่งซื้อ
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>

<script setup lang="ts">
import { ref } from "vue";
</script>

<style scoped></style>
