<script setup lang="ts"></script>

<template>
  <v-layout>
    <v-main>
      <v-container
        style="border: 1px solid #c0c0c0; border-radius: 10px"
        class="mt-5 pa-10"
      >
        <v-row><h3> ฐิติพงศ์ นิ่มมาก , 0123456789</h3> </v-row>
        <v-row> หอพักเทา ทอง </v-row>
        <v-divider class="my-5"></v-divider>
        <v-row> สู้ดิวะ 6 เล่ม </v-row>
        <v-row> รวม 600 B. </v-row>
        <v-row>
          <v-col cols="9"> </v-col>
          <v-col>
            <v-btn size="large" style="background-color:black;color:white">
              ยืนยันการรับสินค้า</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>
