<script setup lang="ts"></script>
<template>
  <v-layout>
    <v-main>
      <v-container
        style="border: 1px solid #c0c0c0; border-radius: 10px"
        class="mt-5 pa-10"
      >
        <v-row class="justify-center align-center">ไม่มีข้อมูล</v-row>
      </v-container>
    </v-main>
  </v-layout>
</template>
