<script setup lang="ts">
</script>
<template>
  <v-container  style="border: 1px solid #c0c0c0; border-radius: 10px"
        class="mt-5 pa-10">
    <v-row>
      <v-col class="custom-line" cols="16">
        <v-card
          class="icon-card"
          width="fit-content"
          elevation="2"
        >
          <v-icon icon="mdi-receipt" size="72"></v-icon>
        </v-card>
        <div class="line"></div>
        <v-card
          class="icon-card"
          width="fit-content"
          elevation="2"
        >
          <v-icon icon="mdi-package" size="72"></v-icon>
        </v-card>
        <div class="line"></div>
        <v-card
          width="fit-content"
          elevation="1"
        >
          <v-icon icon="mdi-truck" size="72"></v-icon>
        </v-card>
        <div class="line"></div>
        <v-card width="fit-content" elevation="1">
          <v-icon icon="mdi-check" size="72"></v-icon>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.mingcute--bank-card-line {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M19 4a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3zm1 6H4v7a1 1 0 0 0 .883.993L5 18h14a1 1 0 0 0 .993-.883L20 17zm-3 3a1 1 0 0 1 .117 1.993L17 15h-3a1 1 0 0 1-.117-1.993L14 13zm2-7H5a1 1 0 0 0-1 1v1h16V7a1 1 0 0 0-1-1'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.eos-icons--loading {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z' opacity='0.5'/%3E%3Cpath fill='%23000' d='M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z'%3E%3CanimateTransform attributeName='transform' dur='1s' from='0 12 12' repeatCount='indefinite' to='360 12 12' type='rotate'/%3E%3C/path%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.custom-line {
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 4px;
  background-color: #000;
}

.custom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-card {
  display: inline-block;
}
</style>
