<script setup lang="ts">
import { ref } from "vue";
import { useReceiptStore } from "@/stores/receiptStore";
const receiptStore = useReceiptStore();
const imagePic = ref();
const imageUrl = ref("");
const handleFileChange = (event: any) => {
  const file = event.target.files[0];
  if (file) {
    imageUrl.value = URL.createObjectURL(file);
    imagePic.value.src = imageUrl.value;
    receiptStore.imageFile = file;
  }
};
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-icon class="mr-5" size="50px">mdi-cash-sync</v-icon>
      <p class="title">ตรวจสอบการชำระเงิน</p>
    </v-row>

    <v-row class="justify-center">
      <v-sheet width="1000px" class="sheet-border pa-10">
        <v-row class="justify-center">
          <h4>กรุณาอัพโหลดหลักฐานการชำระเงิน</h4>
        </v-row>

        <v-row class="d-flex justify-center">
          <v-card class="card text-center mb-16">
            <h1>อัพโหลดหลักฐาน</h1>
            <img src="/image.jpg" ref="imagePic" />
            <label for="input-file">อัพโหลด</label>
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" @change="handleFileChange" />
          </v-card>
        </v-row>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 40px;
}

.sheet-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  max-height: 500px;
  background: #fff;
  padding: 30px;
  border-style: ridge;
  border-width: 2px;
  border-radius: 15px;
  text-align: center;
  color: #333;
}

.card h1 {
  font-size: 22px;
  text-align: center;
  font-family: "Noto Sans Thai", sans-serif;
  color: #000;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

label {
  display: block;
  width: 200px;
  background: #12372a;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

input {
  display: none;
}

.button {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
  color: #fff;
  width: 100px;
  height: 45px;
  border-radius: 10px;
}

.btn-bg-color {
  color: white;
  background-color: #436850;
  font-family: "Noto Sans Thai";
  font-size: 14px;
}
</style>