<script setup lang="ts">
import { ref } from "vue";
import { useCartStore } from "@/stores/cartStore";
import { useUserStore } from "@/stores/user-cusstore";

const cartStore = useCartStore();
const userStore = useUserStore();
const loading = ref(true);

setTimeout(() => {
  loading.value = false;
}, 3000);
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-icon class="mr-5" size="50px">mdi-cart-check</v-icon>
      <p class="title">ชำระเงินสำเร็จ</p>
    </v-row>
    <v-row>
      <v-card
        class="mx-auto ml-100"
        width="600"
        height="400"
        padding="50"
        elevation="3"
      >
        <p v-if="!loading" class="text-center text-h5 mt-10 mb-16">
          ชำระเงินสำเร็จ
        </p>
        <p v-if="loading" class="text-center text-h5 mt-10 mb-16">
          กรุณารอสักครู่
        </p>
        <v-row class="d-flex align-center">
          <v-progress-circular
            class="mx-auto ml-100"
            v-if="loading"
            size="112"
            color="black"
            indeterminate
            >กำลังดำเนินการ</v-progress-circular
          >

          <v-icon
            v-else
            class="mx-auto ml-100"
            icon="mdi-check-circle-outline"
            size="112"
          ></v-icon>
        </v-row>
        <v-row
          ><v-btn
            class="mx-auto mt-10 btn-bg-color"
            to="/"
            @Click="cartStore.clearAllCartItem(userStore.user.id!)"
            >ตกลง</v-btn
          ></v-row
        >
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 40px;
}

.btn-bg-color {
  color: white;
  background-color: #12372a;
  font-family: "Noto Sans Thai";
  font-size: 18px;
  width: 150px;
  height: 55px;
  border-radius: 12px;
}
</style>
