<script setup lang="ts">
import { useCartStore } from "@/stores/cartStore";
import { useReceiptStore } from "@/stores/receiptStore";
import { ref } from "vue";
import type { VForm } from "vuetify/components/";
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    dialog.value = false;
  }
}

const recStorte = useReceiptStore();
const dialog = ref(false);
const cartStore = useCartStore();
const test = () => {
  console.log("Dialog not open idiot");
};
</script>

<template>
  <v-container>
    <v-row class="justify-center">
      <v-icon class="mr-5" size="50px">mdi-cash-multiple</v-icon>
      <p class="title">เลือกวิธีการชำระเงิน</p>
    </v-row>
    <v-row class="justify-center">
      <v-sheet width="1000px" class="sheet-border pa-10">
        <v-row>
          <v-col cols="7">
            <v-card class="card-border">
              <v-radio-group class="pa-10" v-model="recStorte.selectedPaymentOption">
                <v-row class="my-3">
                  <v-icon size="50px" class="mr-5">mdi-qrcode-scan</v-icon>
                  <v-radio label="QR พร้อมเพย์" value="qrcode"></v-radio>
                </v-row>
                <v-row>
                  <v-divider></v-divider>
                </v-row>

                <v-row class="mt-7">
                  <v-icon size="50px" class="mr-5">mdi-card-bulleted-outline</v-icon>
                  <v-radio label="บัตรเครดิต / บัตรเดบิต" value="credit"></v-radio>
                </v-row>
              </v-radio-group>
            </v-card>
          </v-col>

          <v-col>
            <v-card class="card-border" width="365px">
              <v-row class="pa-5">
                <v-col>
                  <v-row>
                    <v-col>ราคารวม</v-col>
                    <v-col class="d-flex justify-end">{{ cartStore.totalPrice }} ฿</v-col>
                  </v-row>
                  <v-row>
                    <v-col>ค่าจัดส่ง</v-col>
                    <v-col class="d-flex justify-end">30.00 ฿</v-col>
                  </v-row>
                  <v-row>
                    <v-col>ส่วนลด</v-col>
                    <v-col class="d-flex justify-end">00.00 ฿</v-col>
                  </v-row>
                  <v-row>
                    <v-divider></v-divider>
                  </v-row>
                  <v-row>
                    <v-col>ราคาสุทธิ</v-col>
                    <v-col class="d-flex justify-end">{{ cartStore.totalPrice + 30 }} ฿</v-col>
                  </v-row>
                  <v-row class="justify-center">
                    <v-btn class="btn-bg-color mt-10 mb-5" prepend-icon="mdi-basket" @click="dialog = true">
                      ชำระเงิน
                    </v-btn>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-sheet>
    </v-row>
  </v-container>

  <!-- qrcode dialog -->
  <v-dialog v-model="dialog" max-width="500" v-if="recStorte.selectedPaymentOption == 'qrcode'">
    <v-card>
      <v-card-title class="text-center" style="background-color: #436850; color: white">
        <p class="card_title1">ชำระเงินด้วย QR</p>
      </v-card-title>
      <v-card-text class="text-center">
        <img src="@/assets/images/qrcode.png" alt="Image" height="300px" />
        <h1>FORWORDS</h1>
        <p>จำนวนเงินที่ต้องชำระ: {{ cartStore.totalPrice }} บาท</p>
      </v-card-text>
      <v-row justify="center" class="text-center mx-15 mb-2">
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="dialog = false">
            ยกเลิก</v-btn>
        </v-col>
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="dialog = false" v-ripple>
            ตกลง</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>

  <!-- credit dialog -->
  <v-dialog v-model="dialog" max-width="500" v-if="recStorte.selectedPaymentOption == 'credit'">
    <v-card>
      <v-card-title style="background-color: #436850; color: white">
        <p class="card_title1">ชำระเงินด้วยบัตรเครดิต / บัตรเดบิต</p>
      </v-card-title>
      <v-chip class="ma-5" prepend-icon="mdi-credit-card-multiple-outline">
        จำนวนเงินที่ต้องชำระ: {{ cartStore.totalPrice }} บาท
      </v-chip>
      <v-card-text>
        <v-form ref="form">
          <v-row>
            <v-col>
              หมายเลขบัตร
              <v-text-field variant="outlined" :rules="[
                (v) => !!v || 'กรุณากรอกหมายเลขบัตร',
                (v) =>
                  v.length === 16 ||
                  'กรุณากรอกหมายเลขบัตรที่มีความยาว 16 หลัก',
                (v) =>
                  Number.isInteger(Number(v)) || 'กรุณากรอกข้อมูลเป็นตัวเลข',
              ]"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              ชื่อบนบัตร (ภาษาอังกฤษเท่านั้น)
              <v-text-field variant="outlined" :rules="[(v) => !!v || 'กรุณากรอกชื่อ']"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              วันหมดอายุ
              <v-text-field variant="outlined" placeholder="01/19"
                :rules="[(v) => !!v || 'กรุณากรอกวันหมดอายุ']"></v-text-field>
            </v-col>
            <v-col>
              รหัสหลังบัตร (CCV/CVC)
              <v-text-field variant="outlined" type="password" append-inner-icon="mdi-help-circle" :rules="[
                (v) => !!v || 'กรุณากรอกรหัสหลังบัตร',
                (v) =>
                  v.length === 3 ||
                  'กรุณากรอกรหัสหลังบัตรที่มีความยาว 3 หลัก',
                (v) =>
                  Number.isInteger(Number(v)) || 'กรุณากรอกข้อมูลเป็นตัวเลข',
              ]"></v-text-field>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-row justify="center" class="text-center mx-15 mb-2">
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="dialog = false">
            ยกเลิก</v-btn>
        </v-col>
        <v-col>
          <v-btn size="large" class="mt-5" color="black" @click="save()" v-ripple>
            ตกลง</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 40px;
}

.sheet-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

.card-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

.btn-bg-color {
  color: white;
  background-color: #436850;
  font-family: "Noto Sans Thai";
  font-size: 14px;
}

.dialog-btn-bg-color {
  color: white;
  background-color: #12372a;
  font-family: "Noto Sans Thai";
  font-size: 14px;
}
</style>
