<script setup lang="ts">
import { useaddressStore } from "@/stores/addressStore";
import { ref } from "vue";
import type { VForm } from "vuetify/components/";
import type address from "@/types/address";
import { useMessageStore } from "@/stores/messagestore";
import MessageDialog from "@/views/DialogView/MessageDialog.vue";

const form = ref<VForm | null>(null);
const addressStore = useaddressStore();
const messageStore = useMessageStore();
const editedAddress = ref<address>({
  id: 0,
  name: "",
  lastName: "",
  receiverTel: "",
  detail: "",
  province: "",
  district: "",
  subDistrict: "",
  postCode: "",
});
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log(editedAddress);
    messageStore.showConfirm("บันทึกข้อมูลที่อยู่สำเร็จ");
    await addressStore.addNewAddress(
      editedAddress.value.name,
      editedAddress.value.lastName,
      editedAddress.value.receiverTel,
      editedAddress.value.detail,
      editedAddress.value.province,
      editedAddress.value.district,
      editedAddress.value.subDistrict,
      editedAddress.value.postCode
    );
  } else {
    messageStore.showError("กรุณากรอกข้อมูลให้ครบ");
  }
}
</script>

<template>
  <MessageDialog></MessageDialog>
  <v-container>
    <v-row class="justify-center">
      <v-icon class="mr-5" size="50px">mdi-truck-fast</v-icon>
      <p class="title">ที่อยู่จัดส่ง</p>
    </v-row>
    <v-row class="justify-center">
      <v-form ref="form">
        <v-sheet width="1000px" class="sheet-border pa-10">
          <v-row>
            <v-col cols="3"></v-col>
            <v-col cols="6" class="d-flex justify-center">
              <h4>กรอกที่อยู่จัดส่ง</h4>
            </v-col>
            <v-col cols="3"></v-col>
          </v-row>
          <v-row>
            <v-col>
              ชื่อจริง
              <v-text-field
                variant="outlined"
                v-model="editedAddress.name"
                :rules="[(v) => !!v || 'กรุณากรอกชื่อ']"
              ></v-text-field>
            </v-col>
            <v-col>
              นามสกุล
              <v-text-field
                variant="outlined"
                v-model="editedAddress.lastName"
                :rules="[(v) => !!v || 'กรุณากรอกนามสกุล']"
              ></v-text-field>
            </v-col>
            <v-col>
              เบอร์ติดต่อ
              <v-text-field
                variant="outlined"
                v-model="editedAddress.receiverTel"
                :rules="[
                  (v) => !!v || 'กรุณากรอกเบอร์ติดต่อ',
                  (v) =>
                    v.length === 10 ||
                    'กรุณากรอกเบอร์ติดต่อที่มีความยาว 10 หลัก',
                  (v) =>
                    Number.isInteger(Number(v)) || 'กรุณากรอกข้อมูลเป็นตัวเลข',
                ]"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="8">
              รายละเอียดที่อยู่
              <v-text-field
                variant="outlined"
                v-model="editedAddress.detail"
                :rules="[(v) => !!v || 'กรุณากรอกรายละเอียดที่อยู่']"
              ></v-text-field>
            </v-col>
            <v-col>
              จังหวัด
              <v-text-field
                variant="outlined"
                v-model="editedAddress.province"
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูลจังหวัด']"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              เขต/อำเภอ
              <v-text-field
                variant="outlined"
                v-model="editedAddress.district"
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูลเขต/อำเภอ']"
              ></v-text-field>
            </v-col>
            <v-col>
              แขวง/ตำบล
              <v-text-field
                variant="outlined"
                v-model="editedAddress.subDistrict"
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูลแขวง/ตำบล']"
              ></v-text-field>
            </v-col>
            <v-col>
              รหัสไปรษณีย์
              <v-text-field
                variant="outlined"
                v-model="editedAddress.postCode"
                :rules="[
                  (v) => !!v || 'กรุณากรอกข้อมูลรหัสไปรษณีย์',
                  (v) =>
                    v.length === 5 ||
                    'กรุณากรอกรหัสไปรษณีย์ที่มีความยาว 5 หลัก',
                  (v) =>
                    Number.isInteger(Number(v)) || 'กรุณากรอกข้อมูลเป็นตัวเลข',
                ]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-sheet>
      </v-form>
    </v-row>
    <v-row class="justify-center mt-10">
      <v-btn class="btn-bg-color" width="100px" @click="save()">บันทึก</v-btn>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 40px;
}

.sheet-border {
  border-width: 2px;
  border-style: ridge;
  border-radius: 15px;
}

.btn-bg-color {
  color: white;
  background-color: #436850;
  font-family: "Noto Sans Thai";
  font-size: 14px;
}

.v-text-field {
  caret-color: black;
}
</style>
