<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { useCartStore } from "@/stores/cartStore";
import { useProductStore } from "@/stores/productStore";
import { onMounted } from "vue";
const cartStore = useCartStore();
const authStore = useAuthStore();
const productStore = useProductStore();
onMounted(async () => {
  await authStore.loadUser();
  await cartStore.getAllCartItemByCusID(authStore.cusAccount?.id!);
});
</script>

<template>
  <v-app-bar
    color="transparent"
    :style="{ backgroundImage: 'linear-gradient(to bottom, #12372A, #436850)' }"
    extended
  >
    <v-col cols="4" class="mt-11" v-if="!authStore.isAuth">
      <v-menu clas>
        <template v-slot:activator="{ props }">
          <v-btn
            v-bind="props"
            append-icon="mdi-chevron-down"
            class="btn-bg-color"
          >
            ล็อกอินเข้าสู่ระบบ/สมัครสมาชิก
          </v-btn>
        </template>
        <v-list>
          <v-list-item prepend-icon="mdi-login" to="/login">
            เข้าสู่ระบบ
          </v-list-item>
          <v-list-item prepend-icon="mdi-account-plus-outline" to="/register">
            สมัครสมาชิก
          </v-list-item>
        </v-list>
      </v-menu>
    </v-col>
    <v-col
      cols="4"
      class="mt-11"
      v-if="authStore.isAuth"
      @logout="authStore.logout"
    >
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-btn
            v-bind="props"
            append-icon="mdi-chevron-down"
            class="btn-bg-color"
          >
            {{ authStore.cusAccount?.login! }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item prepend-icon="mdi-account-edit" to="/cum">
            จัดการข้อมูลส่วนตัว
          </v-list-item>
          <v-list-item prepend-icon="mdi-shopping" to="/col">
            คำสั่งซื้อของฉัน
          </v-list-item>
          <v-list-item
            prepend-icon="mdi-logout-variant"
            @click="authStore.logout"
          >
            ออกจากระบบ
          </v-list-item>
        </v-list>
      </v-menu>
    </v-col>
    <v-col cols="4" class="mt-13">
      <a href="/">
        <v-img
          height="100px"
          src="/src/assets/images/forwords_logo.png"
        ></v-img>
      </a>
    </v-col>
    <v-spacer></v-spacer>
    <v-btn
      class="btn-bg-color mt-11"
      prepend-icon="mdi-cart-outline"
      to="/viewcart"
    >
      {{ cartStore.cartItemCount }} ชิ้น
    </v-btn>
    <v-text-field
      density="compact"
      variant="solo"
      prepend-inner-icon="mdi-magnify"
      placeholder="ค้นหาหนังสือ"
      hide-details
      class="mx-5 mt-11"
      v-model="productStore.search"
    ></v-text-field>
  </v-app-bar>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Noto Sans Thai");

.title {
  color: white;
  font-family: "Noto Sans Thai";
  font-size: 36px;
  text-align: center;
}

.sub-title1 {
  color: white;
  font-family: "Noto Sans Thai";
  font-size: 12px;
  text-align: center;
}

.btn-bg-color {
  color: white;
  background-color: rgba(0, 0, 0, 0.12);
  font-family: "Noto Sans Thai";
  font-size: 14px;
}
</style>
