<script setup lang="ts">
import OnsiteMenu from "../menu/OnsiteMenu.vue";
import { useAuthStore } from "@/stores/auth";
import { onMounted } from "vue";
import { ref } from "vue";
const drawer = ref(false);
const authStore = useAuthStore();
onMounted(async () => {
  await authStore.loadUser();
});
</script>

<template>
  <v-app-bar extended color="transparent" :style="{ backgroundImage: 'linear-gradient(to bottom, #12372A, #436850)' }">
    <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" class="mt-13" color="white"></v-app-bar-nav-icon>

    <v-col class="mt-13" cols="2">
      <v-img height="90px" src="/src/assets/images/forwords_logo.png"></v-img>
    </v-col>
    <v-col></v-col>
    <v-col cols="2" class="mt-13 d-flex justify-end">
      <v-card variant="tonal" width="160px" class="card-style">
        <v-list class="d-flex justify-center">
          <v-list-item>
            <v-list-item-title>user: {{ authStore.empAccount?.login }}</v-list-item-title>
            <v-list-item-subtitle>role: {{ authStore.empAccount?.role }}</v-list-item-subtitle>
          </v-list-item>
        </v-list>
      </v-card>
    </v-col>
  </v-app-bar>

  <OnsiteMenu v-model="drawer"></OnsiteMenu>
</template>

<style scoped>
.title {
  font-family: "Franklin Gothic Medium";
  font-size: 30px;
  text-align: center;
}

.sub-title1 {
  font-size: 12px;
  text-align: center;
}

.card-style {
  border-radius: 15px;
}
</style>
