<script setup lang="ts">
import { ref } from "vue";
let totalprice = "600";
const dialog = ref(false);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <v-radio-group>
          <v-radio label="บัตรเครดิต / บัตรเดบืต" value="credit"></v-radio>
          <v-radio label="สแกน QR พร้อมเพย์" value="qr"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col>
        <v-container class="border border-primary">
          <v-row>
            <v-col>ราคารวม</v-col>
            <v-col class="text-right">{{ totalprice }} บาท</v-col>
          </v-row>
          <v-row>
            <v-col>ค่าจัดส่ง</v-col>
            <v-col class="text-right">{{ totalprice }} บาท</v-col>
          </v-row>
          <v-row>
            <v-col>ส่วนลด</v-col>
            <v-col class="text-right">{{ totalprice }} บาท</v-col>
          </v-row>
          <v-divider class="mt-5 mb-5"></v-divider>
          <v-row>
            <v-col>ราคาสุทธิ</v-col>
            <v-col class="text-right">{{ totalprice }} บาท</v-col>
          </v-row>
          <v-row justify="center">
            <v-btn
              size="large"
              class="mt-5"
              append-icon="mdi-basket"
              color="black"
              @click="dialog = true"
            >
              ชำระเงิน</v-btn
            >
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>

  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-text class="text-center">
        <img src="https://via.placeholder.com/300x300" alt="Image" />
      </v-card-text>
      <v-row justify="center" class="text-center mx-15 mb-2">
        <v-col>
          <v-btn
            size="large"
            class="mt-5"
            color="black"
            @click="dialog = false"
          >
            ปิด</v-btn
          >
        </v-col>
        <v-col>
          <v-btn
            size="large"
            class="mt-5"
            color="black"
            @click="dialog = false"
          >
            ถัดไป</v-btn
          >
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>
