<script setup lang="ts">
import { useUserStore } from "@/stores/user-cusstore";
import { useAuthStore } from "@/stores/auth";

import { computed, onMounted, ref } from "vue";
const userStore = useUserStore();
const authStore = useAuthStore();

const showOldPwd = ref(false);
const showNewPwd = ref(false);
const showConfirmPwd = ref(false);
const onComponentMounted = async () => {
  var user = authStore.getUser();
  userStore.getOneUser(user.id);
};
onMounted(onComponentMounted);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="1">
        <v-btn icon="mdi-chevron-left-circle" to="/cum" variant="tonal"></v-btn>
      </v-col>
      <v-col style="margin-right: 95px">
        <div class="title">แก้ไขข้อมูลส่วนตัว</div>
      </v-col>
      <v-divider class="border-opacity-100"></v-divider>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-center">
        <v-card width="700px" elevation="3">
          <v-card-text>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">ชื่อจริง:</v-col>
              <v-col>
                <v-text-field variant="outlined" disabled>{{
                  userStore.user?.name
                }}</v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">นามสกุล:</v-col>
              <v-col>
                <v-text-field variant="outlined" disabled>{{
                  userStore.user?.lastName
                }}</v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">อีเมล:</v-col>
              <v-col>
                <v-text-field variant="outlined" disabled>{{
                  userStore.user?.email
                }}</v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">รหัสผ่านเดิม:</v-col>
              <v-col>
                <v-text-field
                  variant="outlined"
                  readonly
                  :value="userStore.user?.password"
                  :append-inner-icon="showOldPwd ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append-inner="showOldPwd = !showOldPwd"
                  :type="showOldPwd ? 'text' : 'password'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">รหัสผ่านใหม่:</v-col>
              <v-col>
                <v-text-field
                  variant="outlined"
                  :append-inner-icon="showNewPwd ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append-inner="showNewPwd = !showNewPwd"
                  :type="showNewPwd ? 'text' : 'password'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">ยืนยันรหัสผ่าน:</v-col>
              <v-col>
                <v-text-field
                  variant="outlined"
                  :append-inner-icon="
                    showConfirmPwd ? 'mdi-eye' : 'mdi-eye-off'
                  "
                  @click:append-inner="showConfirmPwd = !showConfirmPwd"
                  :type="showConfirmPwd ? 'text' : 'password'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">ชื่อผู้ใช้งาน:</v-col>
              <v-col>
                <v-text-field variant="outlined">{{
                  userStore.user?.login
                }}</v-text-field>
              </v-col>
            </v-row>
            <v-row class="mx-auto">
              <v-col cols="3" class="mt-5">โทรศัพท์:</v-col>
              <v-col>
                <v-text-field variant="outlined" disabled>{{
                  userStore.user?.tel
                }}</v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-end">
        <v-btn to="/cum" class="button">ยกเลิก</v-btn>
        <v-btn class="button ml-5">บันทึกข้อมูล</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  color: #12372a;
  font-family: "Noto Sans Thai";
  font-size: 40px;
  text-align: center;
}

.button {
  color: white;
  background-color: #12372a;
  width: 100px;
  height: 45px;
  border-radius: 15px;
}
</style>
