<script setup lang="ts">
import MenuBar from "@/components/orderlist_component/MenuBar.vue";
import OrderHistory from "@/components/orderlist_component/OrderHistory.vue";
</script>

<template>
  <v-container style="height: 50px" class="my-10">
    <row
      ><div class="text-center"><h1>คำสั่งซื้อของฉัน</h1></div></row
    >
  </v-container>

  <MenuBar></MenuBar>
  <OrderHistory></OrderHistory>
</template>
