<script setup lang="ts">
import { useUserStore } from "@/stores/user-cusstore";
import { useAuthStore } from "@/stores/auth";

import { onMounted, ref } from "vue";
const userStore = useUserStore();
const authStore = useAuthStore();

const showPwd = ref(false);
const onComponentMounted = async () => {
  var user = authStore.getUser();
  userStore.getOneUser(user.id);
};
onMounted(onComponentMounted);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="1">
        <v-btn icon="mdi-chevron-left-circle" to="/" variant="tonal"></v-btn>
      </v-col>
      <v-col style="margin-right: 95px">
        <div class="title">จัดการข้อมูลส่วนตัว</div>
      </v-col>
      <v-divider class="border-opacity-100"></v-divider>
    </v-row>
    <v-row>
      <v-col>
        <v-card elevation="3">
          <v-card-title class="sub-title2"> ข้อมูลส่วนตัวของฉัน </v-card-title>
          <v-card-text>
            <v-row>
              <v-col>
                ชื่อจริง
                <v-text-field
                  variant="outlined"
                  readonly
                  :value="userStore.user?.name"
                ></v-text-field>
              </v-col>
              <v-col>
                นามสกุล
                <v-text-field variant="outlined" readonly>{{
                  userStore.user?.lastName
                }}</v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                อีเมล
                <v-text-field variant="outlined" readonly>{{
                  userStore.user?.email
                }}</v-text-field>
              </v-col>
              <v-col>
                รหัสผ่าน
                <v-text-field
                  variant="outlined"
                  readonly
                  :value="userStore.user?.password"
                  :append-inner-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append-inner="showPwd = !showPwd"
                  :type="showPwd ? 'text' : 'password'"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                ชื่อผู้ใช้งาน
                <v-text-field variant="outlined" readonly>{{
                  userStore.user?.login
                }}</v-text-field>
              </v-col>
              <v-col>
                โทรศัพท์
                <v-text-field variant="outlined" readonly>{{
                  userStore.user?.tel
                }}</v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="d-flex justify-end ml-3">
        <v-btn to="/cue" class="edit-button">แก้ไข</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  color: #12372a;
  font-family: "Noto Sans Thai";
  font-size: 40px;
  text-align: center;
}

.sub-title2 {
  font-family: "Noto Sans Thai";
  font-size: 25px;
  text-align: center;
}

.edit-button {
  color: white;
  background-color: #12372a;
  width: 80px;
  height: 45px;
  border-radius: 15px;
}
</style>
