<script setup lang="ts">
import { ref } from "vue";
import { useAuthStore } from "@/stores/auth";
import type { VForm } from "vuetify/components";
import MessageDialog from "@/views/DialogView/MessageDialog.vue";
import { useMessageStore } from "@/stores/messagestore";

const messageStore = useMessageStore();
const authStore = useAuthStore();
const loginName = ref("");
const password = ref("");
const vaild = ref(true);
const form = ref<VForm | null>(null);
const showPwd = ref(false);

const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log("Login Success");
    authStore.login(loginName.value, password.value);
  } else {
    messageStore.showError("กรุณากรอกข้อมูล Username หรือ Password");
  }
};
</script>

<template>
  <v-container>
    <MessageDialog></MessageDialog>
    <v-row>
      <v-col>
        <v-btn icon="mdi-chevron-left-circle" to="/" variant="tonal"></v-btn>
        <v-img
          height="120px"
          src="/src/assets/images/forwords_logo2.png"
        ></v-img>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <p class="sub-title2 my-7">เข้าสู่ระบบ</p>
        <p class="sub-title3">อีเมล</p>
        <v-form ref="form" v-model="vaild">
          <v-text-field
            class="sub-title3"
            name="txt_username"
            id="txt_username"
            placeholder="กรอกอีเมล"
            variant="outlined"
            prepend-inner-icon="mdi-account"
            :rules="[(v: any) => !!v || 'กรุณากรอกข้อมูล Username']"
            v-model="loginName"
          ></v-text-field>
          <p class="sub-title3">รหัสผ่าน</p>
          <v-text-field
            class="sub-title3"
            name="txt_username"
            id="txt_username"
            placeholder="กรอกรหัสผ่าน"
            variant="outlined"
            prepend-inner-icon="mdi-lock"
            :append-inner-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append-inner="showPwd = !showPwd"
            :type="showPwd ? 'text' : 'password'"
            :rules="[(v: any) => !!v || 'กรุณากรอกข้อมูล Password']"
            v-model="password"
          ></v-text-field>
        </v-form>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-btn
        class="sub-title3"
        color="#12372A"
        rounded="xl"
        height="50px"
        width="150px"
        @click="login"
        >เข้าสู่ระบบ</v-btn
      >
    </v-row>
    <v-row>
      <v-col cols="10"></v-col>
      <v-col cols="2" class="text-right">
        <router-link to="/register">
          <p class="link-color">สมัครสมาชิก</p>
        </router-link>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  color: #436850;
  font-family: "Noto Sans Thai";
  font-size: 72px;
  text-align: center;
}

.sub-title1 {
  font-family: "Noto Sans Thai";
  font-size: 16px;
  text-align: center;
}

.sub-title2 {
  font-family: "Noto Sans Thai";
  font-size: 28px;
  text-align: center;
}

.sub-title3 {
  font-family: "Noto Sans Thai";
  font-size: 16px;
}

.link-color {
  font-family: "Noto Sans Thai";
  color: black;
}
</style>
