<script setup lang="ts">
import { useMessageStore } from "@/stores/messagestore";
import { useUserStore } from "@/stores/user-cusstore";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import MessageDialog from "../DialogView/MessageDialog.vue";
import router from "@/router";
const messageStore = useMessageStore();
const userStore = useUserStore();
const showPwd = ref(false);
const showConfirmPwd = ref(false);
const confirmPwd = ref("");
const form = ref<VForm | null>(null);

const regis = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log("Register Success");
    userStore.saveUser();
  } else {
    messageStore.showError("กรุณากรอกข้อมูลให้ถูกต้องครบถ้วน");
  }
};
</script>

<template>
  <v-container>
    <MessageDialog></MessageDialog>
    <v-row>
      <v-col cols="1">
        <v-btn icon="mdi-chevron-left-circle" to="/" variant="tonal"></v-btn>
      </v-col>
      <v-col style="margin-right: 95px">
        <div class="title">สมัครสมาชิก FORWORDS</div>
      </v-col>
      <v-divider class="border-opacity-100"></v-divider>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-center">
        <v-card elevation="3" class="pa-5" width="800px">
          <v-card-title>
            <p class="sub-title1 mb-10">กรุณากรอกข้อมูลให้ครบถ้วน</p>
          </v-card-title>
          <v-form ref="form">
            <v-card-text>
              <v-row>
                <v-col>
                  ชื่อจริง
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.name"
                    :rules="[(v) => !!v || 'กรุณากรอกชื่อจริง']"
                  ></v-text-field>
                </v-col>
                <v-col>
                  นามสกุล
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.lastName"
                    :rules="[(v) => !!v || 'กรุณากรอกนามสกุล']"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  ชื่อผู้ใช้งาน
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.login"
                    :rules="[(v) => !!v || 'กรุณากรอกชื่อผู้ใช้งาน']"
                  ></v-text-field>
                </v-col>
                <v-col>
                  โทรศัพท์
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.tel"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกเบอร์โทรศัพท์',
                      (v) =>
                        v.length === 10 ||
                        'กรุณากรอกเบอร์โทรศัพท์ที่มีความยาว 10 หลัก',
                      (v) =>
                        Number.isInteger(Number(v)) ||
                        'กรุณากรอกข้อมูลเป็นตัวเลข',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  อีเมล
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.email"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกอีเมล',
                      (v) =>
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
                          v
                        ) || 'อีเมลไม่ถูกต้อง',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  รหัสผ่าน
                  <v-text-field
                    variant="outlined"
                    v-model="userStore.edited_user_cus.password"
                    :append-inner-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append-inner="showPwd = !showPwd"
                    :type="showPwd ? 'text' : 'password'"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกรหัสผ่าน',
                      (v) =>
                        v.length >= 6 ||
                        'กรุณากรอกรหัสผ่านที่มีความยาวมากกว่า 6 หลัก',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col>
                  ยืนยันรหัสผ่าน
                  <v-text-field
                    variant="outlined"
                    v-model="confirmPwd"
                    :append-inner-icon="
                      showConfirmPwd ? 'mdi-eye' : 'mdi-eye-off'
                    "
                    @click:append-inner="showConfirmPwd = !showConfirmPwd"
                    :type="showConfirmPwd ? 'text' : 'password'"
                    :rules="[
                      (v) => !!v || 'กรุณากรอกการยืนยันรหัสผ่าน',
                      (v) =>
                        userStore.edited_user_cus.password == confirmPwd ||
                        'ยืนยันรหัสผ่านไม่ถูกต้อง',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="10"></v-col>
      <v-col cols="2">
        <v-btn class="btn-style" @click="regis">สมัครสมาชิก</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@700&display=swap");

.title {
  font-family: "Noto Sans Thai";
  font-size: 36px;
  text-align: center;
}

.sub-title1 {
  font-family: "Noto Sans Thai";
  font-size: 16px;
  text-align: center;
}

.sub-title2 {
  font-family: "Noto Sans Thai";
  font-size: 28px;
  text-align: center;
}

.btn-style {
  font-family: "Noto Sans Thai";
  background-color: #12372a;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 15px;
}
</style>
